* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #f0f2f5;
  color: #1c1e21;
}

main {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0 auto;
}

@media(max-width:500px){
    .row{
      justify-content: center;
      line-height:1.3em;
      flex-direction: column;
      width:50%;
      background-color: green;
    }
    .col-form{
      justify-content: center;
      line-height:1.3em;
      flex-direction: column;
      width:50%;
      background-color: green;
    }
}


footer {
  height: 30vh;
  background-color: #ffffff;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  
  transform: translate(-50%, -50%); 
  /* translate moves an element from it current positon to given parameters */
}

.col-logo {
  flex: 0 0 50%;
  text-align: left;
}
.logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  line-height: 1.3em;
  padding: 0 30px;
  text-shadow: #dadde1;
  color: rgb(84, 90, 250);
  display: inline-block;
  box-sizing: border-box;
}

.col-form {
  flex: 0 0 40%;
  text-align: center;
}



.col-logo h2 {
  font: 28px;
  font-weight: 400;
  padding: 0 30px;
  line-height: 32px;
}


.col-form .form-container {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 20px;
  max-width: 400px;
}


.col-form .form-container .btn-login {
  width: 100%;
  margin: 5px 0;
  height: 45px;
  vertical-align: middle;
  font-size: 16px;
  padding: 36px 0;
}

.col-form .form-container input {
  width: 100%;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 0.897);
  border-radius: 4px;
  border-color: #dadde1;
  padding: 2px 16px;
  margin: 8px 0;
  outline:none;
  text-align: center;
  font-size: 17px;
}

.col-form .form-container input:focus {
  border-color: #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
}

.col-form .form-container .btn-login {
  background-color: #1877f2;
  
  border: none;
  border-radius: 6px;
  font-size: 20px;
  padding: 6px 16px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  
}

.col-form .form-container a {
  display: block;
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0 20px;
  border-bottom: 1px solid #dadde1;
}

.col-form .form-container a:hover {
  text-decoration: underline;
}
.col-form .form-container .btn-new {
  border: none;
  background-color: rgb(109, 201, 26);
  color: white;
  padding: 6px 18px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 700;
  height: 46px;
  margin: 16px auto;
  width: 240px;
  cursor: pointer;

}
.col-form p {
  font-size: 14px;
}
.col-form p a {
  text-decoration: none;
  color: #1c1e21;
  font-weight: 600;
}

.col-form p a:hover {
  text-decoration: underline;
}
.footer-contents {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
footer ol {
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px 0;
  margin: 40px 20px;
  justify-content: center;
}
footer ol:first-child {
  border-bottom: 1px solid #dddfe2;
}

footer ol:first:child li:last:child button {
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  line-height: 1.3em;
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
  outline: none;
  color: #4b4f56;
  padding: 0 8px;
  font-weight: 100;
  font-size: 3px;
}
footer ol li a {
  text-decoration: none;
  text-align: center;
  
  color: grey;
}
footer ol li a:hover {
  text-decoration: underline;
}
.footer-contents small {
  font-size: 12px;
  text-align: right;
}
#copy{
  text-align: center;
}
.footer-content .plus{
  border: 2px solid grey;
  padding: 2px 2px;
  margin: auto;
  width: 27px;
  height: 23px;
  text-align: center;
  font-size: medium;

}
.footer-content .plus:hover{
  border-top: #08090a;
  border-color:green ;
}